<all-map></all-map> 

<div class="buttondiv">
<bottom-navi></bottom-navi>
</div>

<div class="topdiv">
 
 


<div>
 <div style="width:1300px;margin: 0 auto;">
 
    
    <br><br><br><br>
 <br><br><br><br>


<p-panel header="高级运营">
  
   
      
<div style="width:98%;">        
<br> 
<p-panel header="故障分析" [toggleable]="true">
    故障分{{res.errtype}}类（按设备分类），各类故障发生的原因有{{res.errreason}}种<br>
    故障的解决方案有{{res.errsolu}}种
</p-panel>
  <br> 
<p-panel header="备品备件" [toggleable]="true">
    全国共有{{res.backres}}个备件库，各库中备件的种类{{res.backtype}}及数量{{res.backno}}
</p-panel>
  <br> 
<p-panel header="经验分享" [toggleable]="true">
    经验共{{res.exps}}条，分{{res.exptype}}类，更新的频率{{res.expfreq}}及每次更新的{{res.expno}}
</p-panel>
  <br> 
<p-panel header="运营报表" [toggleable]="true">
    可生成的报表{{res.diatype}}类及{{res.diano}}个
</p-panel>


</div> 
                                    

      


<div style="clear:both;"><br><br></div>

</p-panel>





</div>

 
   
</div>
 



</div>