<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
   
</div>
<h2>this is before father outlet</h2> 
<router-outlet></router-outlet>
<h2>this is after father outlet</h2>
 
 

<a routerLink="/user">user</a>
<a routerLink="/page">page</a>
<a routerLink="/page2">page2!</a>
<a routerLink="/admin">adminModule</a>
<a routerLink="/admin/other2">adminModuleother2</a>
<a routerLink="/chrouter">chrouterModule</a>
<a routerLink="/chrouter/tpage1">test chrouterModuleTPage1</a>
<a routerLink="/chrouter/tpage2">test chrouterModuleTPage2</a>