<div id="allmap"></div>



<div class="topbar">
    <div class="topcontent">
      
        <h1>全国泛能站SCADA列表</h1>
       
    </div>
</div>


<div class="leftbottomnav">
    <!--<leftbar-navi></leftbar-navi>-->
</div>


<div class="bottombar">
    <div class="bottomcontent">     
        <!--<bottom-navi></bottom-navi>-->
    </div>
</div>





<div class="leftbar">
  
<br><Br><br><Br>

    <div class="btn-group-vertical" role="group" aria-label="...">
        <button type="button" class="btn btn-default"><strong>泛能站区域列表</strong></button>
  <div *ngFor="let zone of area; let i=index" class="btn-group" role="group">
    <button (click)="zoneMenu(zone)" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      {{zone}}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li *ngFor= "let a of menucontent"><a  (click)=routerChange(a.scada)>{{a.name}}</a></li>
     
    </ul>
  </div>

 
</div>



</div>

<div class="rightbar">  
     

 



    
 
  
  
  </div>