body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1900px;
  height:950px;
  font-size:20px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1900px;
  height:950px;
}
#u2 {
  position:absolute;
  left:2px;
  top:467px;
  width:1896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1900px;
  height:950px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1900px;
  height:950px;
}
#u4 {
  position:absolute;
  left:2px;
  top:467px;
  width:1896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:634px;
  height:480px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u6 {
  position:absolute;
  left:1000px;
  top:220px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:990px;
  top:210px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9 {
  position:absolute;
  left:1270px;
  top:0px;
  width:630px;
  height:230px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10 {
  position:absolute;
  left:0px;
  top:480px;
  width:634px;
  height:470px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11 {
  position:absolute;
  left:1270px;
  top:230px;
  width:630px;
  height:720px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
