
<all-map></all-map>

<div class="topdiv">
     
    <div class ="overpage">
        <div class="title">能源结构</div>

                          

      
<p-tabView (onChange)="handleChange($event)">
  <p-tabPanel header="综合排名"  >
    <compnent-list [rqfor]="rqfor"></compnent-list>
  </p-tabPanel>
  <p-tabPanel header="能效排名"  >
    <compnent-list [rqfor]="rqfor"></compnent-list>
  </p-tabPanel>
  <p-tabPanel header="经济性排名"  >
    <compnent-list [rqfor]="rqfor"></compnent-list>
  </p-tabPanel>
  <p-tabPanel header="生态排名"  >
    <compnent-list [rqfor]="rqfor"></compnent-list>
  </p-tabPanel>
</p-tabView>

 

 
    </div>
   
</div>
<div class="buttondiv">
<bottom-navi></bottom-navi>
</div>