<bottom-navi></bottom-navi>




<div>
 <div style="width:1300px;margin: 0 auto;">
 <ol class="breadcrumb" >    
  <li>首页</li>
  <li>全国排名</li>
 
</ol> 


<p-panel header="全国排名">
   <br> 
   
      
<p-tabView (onChange)="handleChange($event)">
  <p-tabPanel header="综合排名"  >
    <list-ranking *ngIf="ds.a" [rqfor]="rqfor"></list-ranking>
  </p-tabPanel>
  <p-tabPanel header="能效排名"  >
    <list-ranking *ngIf="ds.b" [rqfor]="rqfor"></list-ranking>
  </p-tabPanel>
  <p-tabPanel header="经济性排名"  >
    <list-ranking *ngIf="ds.c" [rqfor]="rqfor"></list-ranking>
  </p-tabPanel>
  <p-tabPanel header="生态排名"  >
    <list-ranking *ngIf="ds.d" [rqfor]="rqfor"></list-ranking>
  </p-tabPanel>
</p-tabView>
                                    

      


<div style="clear:both;"><br><br></div>

</p-panel>





</div>

 
   
</div>
 