


<div id="allmap"></div>

<div class="topbar">
    <div class="topcontent">
        <div class="btn-group">
            <a class="btn btn-primary">集团领导</a>
            <a class="btn btn-primary">政府领导</a>
            <a class="btn btn-primary">企业大客户</a>
        </div>
    </div>
</div>

<div class="leftbottomnav">
    <div class="btn-group">
        <a class="btn btn-primary">区域地图</a>
        <a class="btn btn-primary">泛能项目</a> 
    </div>
</div>



<div class="leftbar">
    <article>
        <header id="bigtitle">全国泛能业务展示平台</header>
        <section>
            <div class="bigtitle" > 
            </div>
        </section>
    </article>


    <article class="today">
        <header><span class="one">今日泛能交易量</span><span>2017-02-21</span></header>
        <section>
            <div class="leftbarblock"> 
                <span class="one">12345678</span><span class="two">MW</span> 
            </div>
            <div class="leftbarblock">
                <span>昨日： 12345678MW, 同比增长3% </span>
            </div>
        </section>
    </article>
    <br><br>
    <article class="today">
        <header><span class="one">今日泛能交易额</span><span>2017-02-21</span></header>
        <section>
            <div class="leftbarblock"> 
                <span class="one">12345678</span><span class="two">MW</span> 
            </div>
            <div class="leftbarblock">
                <span>昨日： 12345678MW, 同比增长3% </span>
            </div>
        </section>
    </article>
    <br><br>
    <article class="introduce">
        <header>泛能业务介绍</header>
        <section>
            <div class="leftbarblock"> 
                公司泛能业务已拓展**个城市，覆盖面积约**平方公里，服务人口约**万人<br>
                已建**个泛能站、**个泛能网<br>
                在建**个泛能站、**个泛能网
            </div>
        </section>
    </article>
</div>

<div class="rightbar">  
    <article>
        <header>全国泛能交易情况</header>
        <section>
            <div class="barblock">sss
            </div>
        </section>
    </article>


    <article>
        <header>全国泛能收益状况</header>
        <section>
            <div class="barblock">sss
            </div>
        </section>
    </article>   



    <article>
        <header>全国泛能收益排行榜</header>
        <section>
            <div class="barblock">sss
            </div>
        </section>
    </article>      
 
  
  
  </div>