


<div id="allmap"></div>

<div class="topbar">
    <div class="topcontent">
        <div class="btn-group">
            <a class="btn btn-primary">集团领导</a>
            <a class="btn btn-primary">政府领导</a>
            <a class="btn btn-primary">企业大客户</a>
        </div>
    </div>
</div>

<div class="leftbar">ssdfsdfsdfsss</div>

<div class="rightbar">  
 <article>
     <header>全国泛能交易情况</header>
     <section>
         <div class="barblock">sss
         </div>
     </section>
 </article>


  <article>
     <header>全国泛能收益状况</header>
     <section>
         <div class="barblock">sss
         </div>
     </section>
 </article>   



  <article>
     <header>全国泛能收益排行榜</header>
     <section>
         <div class="barblock">sss
         </div>
     </section>
 </article>      
 
  
  
  </div>