#allmap {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin:0;font-family:"微软雅黑";
}


.topbar {
    width: 100%;
    height: 40px;
    position: absolute;
    top:0px;
    left: 0px;
    /*background-color: #fff; */
    z-index: 1001;
}
.topbar .topcontent {
    text-align: center;
}

.bottombar {
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0px;
    z-index: 1001;
}
.bottombar .bottomcontent {
    text-align: center;
}


.leftbottomnav {
    position: absolute;
    bottom:0px;
    left: 0px;
    z-index: 1002;    
}



.leftbar {
    width: 30%;
    height: 100%;
    position: absolute;
    top:40px;
    left: 0px;
    /*background-color: #fff;*/
    z-index: 1000;
}
.leftbar #bigtitle {
    padding-left: 20px;
    font-size: 40px;
}
.leftbar .bigtitle {
    height: 40px;
}
.leftbar .today header {
    padding-bottom: 10px;
}
.leftbar .today header .one {
    padding-left: 20px;
    color: #edea04;
    font-weight: bold; 
}
.leftbar .today .leftbarblock {
    padding-left: 20px;   
    padding-bottom: 10px; 
}
.leftbar .today .leftbarblock .one {
    color: #fff;
    font-size: 30px;
    background-color: #00b0f0;
    padding-left: 10px;
    padding-right: 10px;   
}
.leftbar .today .leftbarblock .two {
    padding-left: 10px;
    color: #edea04;
    font-weight: bold;   
}
.leftbar .introduce {
    width: 100%;
    height: 33%;
    padding-left: 20px;    
}
.leftbar .introduce header {
    margin-left: 25px;
    margin-bottom: -10px;
    background-color: #01608a;
    color: #edea04;
    font-weight: bold;
    width: 160px;
    padding: 10px;
    border-radius:5px;     
}
.leftbar .introduce .leftbarblock{
    width: 96%;
    height: 250px;
    position: relative;
    padding: 10px;
    color:#666;
    border: 1px solid #fff;
    border-radius: 10px;
}


.rightbar {
    width: 30%;
    height: 100%;
    position: absolute;
    top:40px;
    right: 0px;
/*    background-color: #fff;   */
    z-index: 1000;
}

.rightbar article {
    width: 100%;
    height: 33%;
}
.rightbar header {
    margin-left: 25px;
    margin-bottom: -10px;
    background-color: #01608a;
    color: #edea04;
    font-weight: bold;
    width: 160px;
    padding: 10px;
    border-radius:5px;
     
}
.barblock {
    width: 96%;
    height: 250px;
    position: relative;
    padding: 10px;
    color:#666;
    border: 1px solid #fff;
    border-radius: 10px;
}


