<div class="bgimg"><img src="assets/technics.png"></div>

<div class="data">



<div class="gas gas0">ssss</div>
<div class="gas gas1"></div>
<div class="gas gas2"></div>

<div class="heat heat0">kdkdkd</div>

<div class="cool cool0"></div>
<div class="cool cool1"></div>
<div class="cool cool2"></div>
<div class="cool cool3"></div>
<div class="cool cool4"></div>

<div class="elec elec0"></div>
<div class="elec elec1"></div>
<div class="elec elec2"></div>
<div class="elec elec3"></div>
<div class="elec elec4"></div>
<div class="elec elec5"></div>
<div class="elec elec6"></div>
<div class="elec elec7"></div>
 












</div>
