 <div class="bgimg"><img src="assets/technics.png"></div> 
 
<div class="data">

<div *ngFor="let x of reqData" class="{{x.type+' '+x.type+x.id}}"> {{x.name+" : "+x.value+" "+x.unit}}</div>
<!--
<div class="gas gas0">gas1</div>
<div class="gas gas1">gas2</div>
<div class="gas gas2">gas3</div>

<div class="hot hot0">hot0</div>

<div class="cold cold0">cold0</div>
<div class="cold cold1">cold1</div>
<div class="cold cold2">cold2</div>
<div class="cold cold3">cold3</div>
<div class="cold cold4">cold4</div>

<div class="elec elec0">elec0</div>
<div class="elec elec1">elec1</div>
<div class="elec elec2">elec2</div>
<div class="elec elec3">elec3</div>
<div class="elec elec4">elec4</div>
<div class="elec elec5">elec5</div>
<div class="elec elec6">elec6</div>
<div class="elec elec7">elec7</div>
 -->












</div>
