
<all-map></all-map>

<div class="topdiv">
     
    <div class ="overpage">
        <div class="title">社会效用</div>

      <span style="float:left;padding-top:50px;padding-right:20px;">当日</span>  <energy-circle></energy-circle>
                           
   
      <energy-structure4 [ascope]="1" [tscope]="2" [rqfor]="3" style="float:left;"  ></energy-structure4><br style="clear:both;">
       <span style="float:left;padding-top:50px;padding-right:20px;">当月</span>  <energy-circle></energy-circle>
 <energy-structure4 [ascope]="2" [tscope]="2" [rqfor]="3" style="float:left;"  ></energy-structure4><br style="clear:both;">
 
     <span style="float:left;padding-top:50px;padding-right:20px;">当年</span>   <energy-circle></energy-circle>

    <energy-structure4 [ascope]="4" [tscope]="2" [rqfor]="3" style="float:left;"  ></energy-structure4>
 
    </div>
   
</div>
<div class="buttondiv">
<bottom-navi></bottom-navi>
</div>