<bottom-navi></bottom-navi>




<div>
 <div style="width:1300px;margin: 0 auto;">
 <ol class="breadcrumb" >    
  <li>首页</li>
  <li>社会效用</li>
 
</ol> 


<p-panel header="社会效用">
   <br><br>
   
   
      <span style="float:left;padding-top:50px;padding-right:20px;">当日</span>  
      <social-circle [rqfor]="1" [tscope]="4"></social-circle>
      <social-circle [rqfor]="2" [tscope]="4"></social-circle>
      <social-circle [rqfor]="3" [tscope]="4"></social-circle>
                           
   
      <line-social [ascope]="1" [tscope]="2" [rqfor]="3" style="float:left;"  ></line-social><br style="clear:both;">
       <span style="float:left;padding-top:50px;padding-right:20px;">当月</span>  
       <social-circle [rqfor]="1" [tscope]="3"></social-circle>
       <social-circle [rqfor]="2" [tscope]="3"></social-circle>
       <social-circle [rqfor]="3" [tscope]="3"></social-circle>
       
 <line-social [ascope]="2" [tscope]="2" [rqfor]="3" style="float:left;"  ></line-social><br style="clear:both;">
 
     <span style="float:left;padding-top:50px;padding-right:20px;">当年</span>   
     <social-circle [rqfor]="1" [tscope]="2"></social-circle>
     <social-circle [rqfor]="2" [tscope]="2"></social-circle>
     <social-circle [rqfor]="3" [tscope]="2"></social-circle>


    <line-social [ascope]="4" [tscope]="2" [rqfor]="3" style="float:left;"  ></line-social>                                  

      


<div style="clear:both;"><br><br></div>

</p-panel>





</div>

 
   
</div>
 