
<all-map></all-map>

<div class="topdiv">
     
    <div class ="overpage">
        <div class="title">供能分析</div>

                           
      

<span style="float:left;padding-top:50px;padding-right:20px;">当日</span> <energy-structure2 [ascope]="1" [tscope]="2" [rqfor]="3" style="float:left;" ></energy-structure2>
<energy-structure3 [ascope]="1" [tscope]="2" [rqfor]="3" style="float:left;"  ></energy-structure3><br style="clear:both;">
<span style="float:left;padding-top:50px;padding-right:20px;">当月</span> <energy-structure2 [ascope]="2" [tscope]="3" [rqfor]="1" style="float:left;" ></energy-structure2>
<energy-structure3 [ascope]="2" [tscope]="2" [rqfor]="3" style="float:left;"  ></energy-structure3><br style="clear:both;">
<span style="float:left;padding-top:50px;padding-right:20px;">当年</span> <energy-structure2 [ascope]="3" [tscope]="1" [rqfor]="2"style="float:left;"  ></energy-structure2>
<energy-structure3 [ascope]="4" [tscope]="2" [rqfor]="3" style="float:left;"  ></energy-structure3>
    </div>
   
</div>

<div class="buttondiv">
<bottom-navi></bottom-navi>
</div>