<all-map></all-map> 

<div class="buttondiv">
<bottom-navi></bottom-navi>
</div>

<div class="topdiv">
 
 


<div>
 <div style="width:1300px;margin: 0 auto;">
 
    
    <br><br><br><br>
 <br><br><br><br>


<p-panel header="能源分析">
   <br><br>
   
   
   <span style="float:left;padding-top:50px;padding-right:20px;">当日</span> <pie-analyze [htmlID]="'pie1'" [ascope]="1" [tscope]="4" [rqfor]="'alystruct'" style="float:left;" ></pie-analyze>
<line-analyze [ascope]="1" [tscope]="4" [rqfor]="3" style="float:left;"  ></line-analyze><br style="clear:both;">
<span style="float:left;padding-top:50px;padding-right:20px;">当月</span> <pie-analyze [htmlID]="'pie2'" [ascope]="1" [tscope]="3" [rqfor]="'alystruct'" style="float:left;" ></pie-analyze>
<line-analyze [ascope]="1" [tscope]="3" [rqfor]="3" style="float:left;"  ></line-analyze><br style="clear:both;">
<span style="float:left;padding-top:50px;padding-right:20px;">当年</span> <pie-analyze [htmlID]="'pie3'" [ascope]="1" [tscope]="2" [rqfor]="'alystruct'"style="float:left;"  ></pie-analyze>
<line-analyze [ascope]="1" [tscope]="2" [rqfor]="3" style="float:left;"  ></line-analyze>
                                    

      


<div style="clear:both;"><br><br></div>

</p-panel>





</div>

 
   
</div>
 


</div>
