body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1900px;
  height:950px;
  font-size:20px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1900px;
  height:950px;
}
#u2 {
  position:absolute;
  left:2px;
  top:467px;
  width:1896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:99px;
  top:20px;
  width:1801px;
  height:890px;
  overflow:hidden;
}
#u3_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1801px;
  height:890px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u3_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4 {
  position:absolute;
  left:0px;
  top:330px;
  width:750px;
  height:250px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:250px;
}
#u5 {
  position:absolute;
  left:2px;
  top:117px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:30px;
  width:750px;
  height:250px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:250px;
}
#u7 {
  position:absolute;
  left:2px;
  top:117px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:630px;
  width:750px;
  height:250px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:250px;
}
#u9 {
  position:absolute;
  left:2px;
  top:117px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:858px;
  top:15px;
  width:590px;
  height:265px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:265px;
}
#u11 {
  position:absolute;
  left:2px;
  top:124px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1049px;
  top:0px;
  width:209px;
  height:40px;
  font-family:'华文楷体 Bold', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:40px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1511px;
  top:127px;
  width:30px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:13px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:4px;
  width:30px;
  height:3px;
}
#u15 {
  position:absolute;
  left:1556px;
  top:120px;
  width:162px;
  height:40px;
  font-family:'华文楷体 Bold', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:1511px;
  top:440px;
  width:30px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:13px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:4px;
  width:30px;
  height:3px;
}
#u18 {
  position:absolute;
  left:1556px;
  top:432px;
  width:162px;
  height:40px;
  font-family:'华文楷体 Bold', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1511px;
  top:740px;
  width:30px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:13px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:4px;
  width:30px;
  height:3px;
}
#u21 {
  position:absolute;
  left:1556px;
  top:732px;
  width:162px;
  height:40px;
  font-family:'华文楷体 Bold', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:858px;
  top:315px;
  width:590px;
  height:265px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:265px;
}
#u24 {
  position:absolute;
  left:2px;
  top:124px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:1072px;
  top:300px;
  width:162px;
  height:40px;
  font-family:'华文楷体 Bold', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:858px;
  top:615px;
  width:590px;
  height:265px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:265px;
}
#u28 {
  position:absolute;
  left:2px;
  top:124px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:1099px;
  top:600px;
  width:162px;
  height:40px;
  font-family:'华文楷体 Bold', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:94px;
  top:100px;
  width:51px;
  height:31px;
  font-family:'华文楷体 Bold', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:31px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u33 {
  position:absolute;
  left:351px;
  top:94px;
  width:51px;
  height:31px;
  font-family:'华文楷体 Bold', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:31px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:611px;
  top:98px;
  width:51px;
  height:31px;
  font-family:'华文楷体 Bold', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:31px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:0px;
  top:930px;
  width:750px;
  height:250px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:250px;
}
#u38 {
  position:absolute;
  left:2px;
  top:117px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:858px;
  top:915px;
  width:590px;
  height:265px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:265px;
}
#u40 {
  position:absolute;
  left:2px;
  top:124px;
  width:586px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:1061px;
  top:900px;
  width:210px;
  height:40px;
  font-family:'华文楷体 Bold', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:40px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:1511px;
  top:1035px;
  width:30px;
  height:10px;
}
#u43_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_end {
  position:absolute;
  left:13px;
  top:-5px;
  width:18px;
  height:20px;
}
#u43_line {
  position:absolute;
  left:0px;
  top:4px;
  width:30px;
  height:3px;
}
#u44 {
  position:absolute;
  left:1556px;
  top:1027px;
  width:162px;
  height:40px;
  font-family:'华文楷体 Bold', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:40px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  word-wrap:break-word;
}
