<div id="allmap">
  
    <img src="assets/partiton.index.png">
 
  
    </div>



<div class="topbar">
    <div class="topcontent">
      
        <h1>全国泛能云运营业务展示中心</h1>

                    <ng-template #alertContainer></ng-template>
                    <button (click)="createComponent('success')">Create success alert</button>
                    <button (click)="createComponent('danger')">Create danger alert</button> 
    </div>
</div>

<!--
<div class="leftbottomnav">
    <leftbar-navi></leftbar-navi>
</div> 
-->


<div class="bottombar">
    <div class="bottomcontent">     
        <bottom-navi></bottom-navi>
    </div>
</div>





<div class="leftbar">
  
</div>

<div class="rightbar">  
    
 
  
  
  </div>