 

 
<bottom-navi></bottom-navi>


<div>
 <div style="width:1300px;margin: 0 auto;">
 <ol class="breadcrumb" >    
  <li>首页</li>
  <li>能源结构</li>
 
</ol> 


<p-panel header="能源结构">
   <br><br>
       <energy-structure [ascope]="1" [tscope]="tscope" [rqfor]="1" style="float: left;"></energy-structure>
<energy-structure [ascope]="1" [tscope]="tscope" [rqfor]="2" style="float: left;"></energy-structure>
<energy-structure [ascope]="1" [tscope]="tscope" [rqfor]="3" style="float: left;"></energy-structure>
                                <div class="btn-group">
                                    <a class="btn btn-default" (click)="changeScope('1')">累计</a>
                                    <a class="btn btn-default" (click)="changeScope('2')">当年</a>
                                    <a class="btn btn-default" (click)="changeScope('3')">当月</a>
                                    <a class="btn btn-default" (click)="changeScope('4')">当日</a>
                        
                                </div> 
                                    

      




</p-panel>





</div>

 
   
</div>

 


 