
<all-map></all-map>

<div class="topdiv">
     
    <div class ="overpage">
        <div class="title">能源结构</div>

                           <div class="buttons">
                                <div class="btn-group">
                                    <a class="btn btn-primary"   >累计</a>
                                    <a class="btn btn-primary"  >当年</a>
                                    <a class="btn btn-primary"  >当月</a>
                                    <a class="btn btn-primary"  >当日</a>
                        
                                </div> 
                                </div>     

      

<energy-structure [ascope]="1" [tscope]="2" [rqfor]="3" style="float: left;"></energy-structure>
<energy-structure [ascope]="2" [tscope]="3" [rqfor]="1" style="float: left;"></energy-structure>
<energy-structure [ascope]="3" [tscope]="1" [rqfor]="2" style="float: left;"></energy-structure>
    </div>
   
</div>
<div class="buttondiv">
<bottom-navi></bottom-navi>
</div>