
                      <!-- Pages container, because we use fixed-through navbar and toolbar, it has additional appropriate classes-->
                      <div [@flyInOut]="'in'" class="pages navbar-through toolbar-through" style="background-color: #eee;">
                        <!-- Page, "data-page" contains page name -->
                        <div data-page="index" class="page">
                          <!-- Scrollable page content -->
                          <div class="page-content">
                            <p>Page content goes here</p>
                            <!-- Link to another page -->
                            <a routerLink="/sec">aaaa</a>
                            {{jdata.site}}
                            <li *ngFor="let a of pageData"><a routerLink="/vid/{{a.link}}">{{a.name }}</a></li>111
                            
                          </div>
                        </div>
                      </div>
                    