
<all-map></all-map>

<div class="topdiv">
 
  
<div class="bigtitle">全国泛能运营业务展示中心</div>

    <div class ="overpage">
        <div class="title">标准化运营</div>



<div style="width:98%;">        
<br><br>  
<p-panel header="标准站的种类及个数" [toggleable]="true">
    显示全国各有几类标准站，每类标准站各有多少个
</p-panel>
  <br> 
<p-panel header="运营人员配置" [toggleable]="true">
    显示全国共有几类运营人员，每一类运营人员的人数<br>
    各类运营人员拥有资质的比例
</p-panel>
  <br> 
<p-panel header="人员培训的情况" [toggleable]="true">
    显示共有几类培训，每一类培训通过人数、参训人数、待训人数
</p-panel>
  <br> 
<p-panel header="故障管理制度" [toggleable]="true">
    故障按等级划分共几类(严重程度)，每类分别有多少个<br>
    各类故障平均响应时间的统计<br>
    故障重复发生率
</p-panel>


</div> 

 

 
    </div>
   
</div>
<div class="buttondiv">
<bottom-navi></bottom-navi>
</div>