body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1900px;
  height:950px;
  font-size:20px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1900px;
  height:950px;
}
#u2 {
  position:absolute;
  left:2px;
  top:467px;
  width:1896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:1410px;
  top:622px;
  width:140px;
  height:158px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:158px;
}
#u4 {
  position:absolute;
  left:2px;
  top:71px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:1400px;
  top:237px;
  width:160px;
  height:258px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:258px;
}
#u6 {
  position:absolute;
  left:2px;
  top:121px;
  width:156px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:622px;
  top:285px;
  width:610px;
  height:578px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:578px;
}
#u8 {
  position:absolute;
  left:2px;
  top:281px;
  width:606px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:714px;
  top:272px;
  width:170px;
  height:10px;
  -webkit-transform:rotate(60deg);
  -moz-transform:rotate(60deg);
  -ms-transform:rotate(60deg);
  transform:rotate(60deg);
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:153px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:4px;
  width:170px;
  height:3px;
}
#u10 {
  position:absolute;
  left:100px;
  top:285px;
  width:410px;
  height:310px;
  font-family:'华文楷体 Bold', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:310px;
}
#u11 {
  position:absolute;
  left:2px;
  top:29px;
  width:406px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:750px;
  top:35px;
  width:350px;
  height:69px;
  font-family:'华文楷体 Bold', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:72px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:69px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-105px;
  width:346px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:542px;
  top:199px;
  width:217px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:200px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:4px;
  width:217px;
  height:3px;
}
#u15 {
  position:absolute;
  left:551px;
  top:163px;
  width:199px;
  height:36px;
  font-family:'华文楷体 Bold', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:36px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  word-wrap:break-word;
}
#u17 {
  position:absolute;
  left:535px;
  top:675px;
  width:170px;
  height:10px;
  -webkit-transform:rotate(330deg);
  -moz-transform:rotate(330deg);
  -ms-transform:rotate(330deg);
  transform:rotate(330deg);
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:153px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:4px;
  width:170px;
  height:3px;
}
#u18 {
  position:absolute;
  left:222px;
  top:716px;
  width:327px;
  height:10px;
}
#u18_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_end {
  position:absolute;
  left:310px;
  top:-5px;
  width:18px;
  height:20px;
}
#u18_line {
  position:absolute;
  left:0px;
  top:4px;
  width:327px;
  height:3px;
}
#u19 {
  position:absolute;
  left:232px;
  top:680px;
  width:308px;
  height:36px;
  font-family:'华文楷体 Bold', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  height:36px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:308px;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:1100px;
  top:197px;
  width:260px;
  height:10px;
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:243px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:4px;
  width:260px;
  height:3px;
}
#u22 {
  position:absolute;
  left:1104px;
  top:161px;
  width:283px;
  height:36px;
  font-family:'华文楷体 Bold', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:36px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:1068px;
  top:795px;
  width:151px;
  height:10px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u24_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_end {
  position:absolute;
  left:134px;
  top:-5px;
  width:18px;
  height:20px;
}
#u24_line {
  position:absolute;
  left:0px;
  top:4px;
  width:151px;
  height:3px;
}
#u25 {
  position:absolute;
  left:1195px;
  top:847px;
  width:234px;
  height:10px;
}
#u25_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:217px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:4px;
  width:234px;
  height:3px;
}
#u26 {
  position:absolute;
  left:1200px;
  top:811px;
  width:283px;
  height:36px;
  font-family:'华文楷体 Bold', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:36px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:1031px;
  top:440px;
  width:73px;
  height:36px;
  font-family:'华文楷体 Bold', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:987px;
  top:703px;
  width:73px;
  height:36px;
  font-family:'华文楷体 Bold', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:989px;
  top:296px;
  width:200px;
  height:10px;
  -webkit-transform:rotate(276deg);
  -moz-transform:rotate(276deg);
  -ms-transform:rotate(276deg);
  transform:rotate(276deg);
}
#u32_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u32_line {
  position:absolute;
  left:0px;
  top:4px;
  width:200px;
  height:3px;
}
#u33 {
  position:absolute;
  left:717px;
  top:587px;
  width:73px;
  height:36px;
  font-family:'华文楷体 Bold', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:830px;
  top:374px;
  width:73px;
  height:36px;
  font-family:'华文楷体 Bold', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:36px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:1490px;
  top:266px;
  width:93px;
  height:10px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u37_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_end {
  position:absolute;
  left:76px;
  top:-5px;
  width:18px;
  height:20px;
}
#u37_line {
  position:absolute;
  left:0px;
  top:4px;
  width:93px;
  height:3px;
}
#u38 {
  position:absolute;
  left:1567px;
  top:234px;
  width:208px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:191px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:4px;
  width:208px;
  height:3px;
}
#u39 {
  position:absolute;
  left:1576px;
  top:210px;
  width:199px;
  height:23px;
  font-family:'华文楷体 Bold', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:23px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:1498px;
  top:457px;
  width:109px;
  height:10px;
  -webkit-transform:rotate(24deg);
  -moz-transform:rotate(24deg);
  -ms-transform:rotate(24deg);
  transform:rotate(24deg);
}
#u41_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_end {
  position:absolute;
  left:92px;
  top:-5px;
  width:18px;
  height:20px;
}
#u41_line {
  position:absolute;
  left:0px;
  top:4px;
  width:109px;
  height:3px;
}
#u42 {
  position:absolute;
  left:1603px;
  top:479px;
  width:166px;
  height:10px;
}
#u42_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_end {
  position:absolute;
  left:149px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_line {
  position:absolute;
  left:0px;
  top:4px;
  width:166px;
  height:3px;
}
#u43 {
  position:absolute;
  left:1609px;
  top:457px;
  width:166px;
  height:23px;
  font-family:'华文楷体 Bold', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:23px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:804px;
  top:876px;
  width:247px;
  height:49px;
  font-family:'华文楷体 Bold', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:49px;
}
#u46 {
  position:absolute;
  left:2px;
  top:-46px;
  width:243px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:1423px;
  top:155px;
  width:185px;
  height:36px;
  font-family:'华文楷体 Bold', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:28px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:36px;
}
#u48 {
  position:absolute;
  left:2px;
  top:-36px;
  width:181px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:1423px;
  top:553px;
  width:160px;
  height:36px;
  font-family:'华文楷体 Bold', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:36px;
}
#u50 {
  position:absolute;
  left:2px;
  top:-23px;
  width:156px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:1508px;
  top:750px;
  width:99px;
  height:10px;
  -webkit-transform:rotate(24deg);
  -moz-transform:rotate(24deg);
  -ms-transform:rotate(24deg);
  transform:rotate(24deg);
}
#u51_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u51_end {
  position:absolute;
  left:82px;
  top:-5px;
  width:18px;
  height:20px;
}
#u51_line {
  position:absolute;
  left:0px;
  top:4px;
  width:99px;
  height:3px;
}
#u52 {
  position:absolute;
  left:1603px;
  top:771px;
  width:166px;
  height:10px;
}
#u52_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:149px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:4px;
  width:166px;
  height:3px;
}
#u53 {
  position:absolute;
  left:1444px;
  top:304px;
  width:73px;
  height:31px;
  font-family:'华文楷体 Bold', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:31px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:1467px;
  top:394px;
  width:73px;
  height:31px;
  font-family:'华文楷体 Bold', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#FFFFFF;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:31px;
}
#u56 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:1609px;
  top:748px;
  width:166px;
  height:23px;
  font-family:'华文楷体 Bold', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:23px;
}
#u58 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:1513px;
  top:656px;
  width:93px;
  height:10px;
  -webkit-transform:rotate(339deg);
  -moz-transform:rotate(339deg);
  -ms-transform:rotate(339deg);
  transform:rotate(339deg);
}
#u59_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_end {
  position:absolute;
  left:76px;
  top:-5px;
  width:18px;
  height:20px;
}
#u59_line {
  position:absolute;
  left:0px;
  top:4px;
  width:93px;
  height:3px;
}
#u60 {
  position:absolute;
  left:1603px;
  top:639px;
  width:166px;
  height:10px;
}
#u60_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_end {
  position:absolute;
  left:149px;
  top:-5px;
  width:18px;
  height:20px;
}
#u60_line {
  position:absolute;
  left:0px;
  top:4px;
  width:166px;
  height:3px;
}
#u61 {
  position:absolute;
  left:1610px;
  top:618px;
  width:166px;
  height:23px;
  font-family:'华文楷体 Bold', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  height:23px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:166px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:1463px;
  top:667px;
  width:73px;
  height:27px;
  font-family:'华文楷体 Bold', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:27px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:1463px;
  top:712px;
  width:73px;
  height:27px;
  font-family:'华文楷体 Bold', '华文楷体';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:27px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
