 





<bottom-navi></bottom-navi>




<div>
 <div style="width:1300px;margin: 0 auto;">
 <ol class="breadcrumb" >    
  <li>首页</li>
  <li>经济效用</li>
 
</ol> 


<p-panel header="经济效用">
   <br><br>
   
   
<span style="float:left;padding-top:50px;padding-right:20px;">当日</span> <pie-eco [htmlID]="'pie1'" [ascope]="1" [tscope]="4" [rqfor]="'ecostruct'" style="float:left;" ></pie-eco>
<line-eco [ascope]="1" [tscope]="4" [rqfor]="3" style="float:left;"  ></line-eco><br style="clear:both;">
<span style="float:left;padding-top:50px;padding-right:20px;">当月</span> <pie-eco [htmlID]="'pie2'" [ascope]="1" [tscope]="3" [rqfor]="'ecostruct'" style="float:left;" ></pie-eco>
<line-eco [ascope]="1" [tscope]="3" [rqfor]="3" style="float:left;"  ></line-eco><br style="clear:both;">
<span style="float:left;padding-top:50px;padding-right:20px;">当年</span> <pie-eco  [htmlID]="'pie3'" [ascope]="1" [tscope]="2" [rqfor]="'ecostruct'"style="float:left;"  ></pie-eco>
<line-eco [ascope]="1" [tscope]="2" [rqfor]="3" style="float:left;"  ></line-eco>
                                    

      


<div style="clear:both;"><br><br></div>

</p-panel>





</div>

 
   
</div>
 