
<all-map></all-map>

<div class="topdiv">


<div class="bigtitle">全国泛能运营业务展示中心</div>    
     
    <div class ="overpage">
        <div class="title">社会效用</div>

      <span style="float:left;padding-top:50px;padding-right:20px;">当日</span>  
      <social-circle [rqfor]="1" [tscope]="4"></social-circle>
      <social-circle [rqfor]="2" [tscope]="4"></social-circle>
      <social-circle [rqfor]="3" [tscope]="4"></social-circle>
                           
   
      <line-social [ascope]="1" [tscope]="2" [rqfor]="3" style="float:left;"  ></line-social><br style="clear:both;">
       <span style="float:left;padding-top:50px;padding-right:20px;">当月</span>  
       <social-circle [rqfor]="1" [tscope]="3"></social-circle>
       <social-circle [rqfor]="2" [tscope]="3"></social-circle>
       <social-circle [rqfor]="3" [tscope]="3"></social-circle>
       
 <line-social [ascope]="2" [tscope]="2" [rqfor]="3" style="float:left;"  ></line-social><br style="clear:both;">
 
     <span style="float:left;padding-top:50px;padding-right:20px;">当年</span>   
     <social-circle [rqfor]="1" [tscope]="2"></social-circle>
     <social-circle [rqfor]="2" [tscope]="2"></social-circle>
     <social-circle [rqfor]="3" [tscope]="2"></social-circle>


    <line-social [ascope]="4" [tscope]="2" [rqfor]="3" style="float:left;"  ></line-social>
 
    </div>
   
</div>
<div class="buttondiv">
<bottom-navi></bottom-navi>
</div>