
<all-map></all-map>

<div class="topdiv">
 
  
<div class="bigtitle">全国泛能运营业务展示中心</div>

    <div class ="overpage">
        <div class="title">全国排名</div>

                          

      
<p-tabView (onChange)="handleChange($event)">
  <p-tabPanel header="综合排名"  >
    <list-ranking *ngIf="ds.a" [rqfor]="rqfor"></list-ranking>
  </p-tabPanel>
  <p-tabPanel header="能效排名"  >
    <list-ranking *ngIf="ds.b" [rqfor]="rqfor"></list-ranking>
  </p-tabPanel>
  <p-tabPanel header="经济性排名"  >
    <list-ranking *ngIf="ds.c" [rqfor]="rqfor"></list-ranking>
  </p-tabPanel>
  <p-tabPanel header="生态排名"  >
    <list-ranking *ngIf="ds.d" [rqfor]="rqfor"></list-ranking>
  </p-tabPanel>
</p-tabView>

 

 
    </div>
   
</div>
<div class="buttondiv">
<bottom-navi></bottom-navi>
</div>