
<all-map></all-map>

<div class="topdiv">
 
  
<div class="bigtitle">全国泛能云运营业务展示中心</div>

    <div class ="overpage">
        <div class="title">高级运营</div>



<div style="width:98%;">        
<br><br>  
<p-panel header="故障分析" [toggleable]="true">
    故障分多少类（按设备分类），各类故障发生的原因有几种<br>
    故障的解决方案有几种
</p-panel>
  <br> 
<p-panel header="备品备件" [toggleable]="true">
    全国共有多少个备件库，各库中备件的种类及数量各多少
</p-panel>
  <br> 
<p-panel header="经验分享" [toggleable]="true">
    经验共多少条，分几类，更新的频率及每次更新的个数
</p-panel>
  <br> 
<p-panel header="运营报表" [toggleable]="true">
    可生成的报表种类及个数
</p-panel>


</div> 

 

 
    </div>
   
</div>
<div class="buttondiv">
<bottom-navi></bottom-navi>
</div>